@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    color: rgba(255, 255, 255, 0.49);
    font-size: x-large;
    font-weight: bold;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.keys {
    filter: drop-shadow(7px 7px 5px black);
    /* filter: saturate(323);// */
    box-shadow: inset 3px 3px rgba(118, 116, 116, 0.769),
        inset -3px -3px rgba(0, 0, 0, 0.812);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:active {
        box-shadow: inset 3px 3px 2px rgba(141, 138, 138, 0.769),
            inset -3px -3px 2px rgba(79, 78, 78, 0.812);
        scale: 0.95;
        filter: drop-shadow(3.5px 3.5px 2px black);
    }
}